body {
}

header {
  border-bottom: 4px dashed grey;
  background-color: #fff;
  top: 0; /* Remove any spacing at the top*/
  left: 0; /* Remove any spacing on the left*/
  width: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
}

h1, h2{
  font-family: 'Sansita one', Georgia, serif;
  color: #333333;
}

#mainBody{
	background: #DCDCDC;
	padding: 20px;
}

.left{
	float: left;
	padding-right: 20px;
}

.pad{
	padding: 5px;
}